@import "animation.css";

.hype {
    font-family: "Yeast 22";
    color: #CF2330;
    font-size: 50px;
    margin-top: 20px;
    
}

.new_year {
    font-family: "Yeast 22";
    color: #FDF7FA;
    margin-top: -45px;
    font-size: 50px;
}

.section-1 {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    text-align: center;
}

.snowflake_1{
    position: fixed;
    top: 0px;
    left: 80%;
    height: auto;
    animation: snowfall_1 5s linear infinite;
}

.snowflake_2{
    position: fixed;
    top: 350px;
    left: 6%;
    height: auto;
    animation: snowfall_2 5s linear infinite;
}

.bodySnowflake {
    width: 140px; 
    height: auto;
}

.eyes {
    width: 90px;
    position: absolute;
    top: 40px;
    left: 29px;
    animation: shake 0.2s linear infinite;
}